<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;" class="contact-box";>
    <h1>Contact Us</h1>

    <form>
        <input type="text" placeholder="Your Name" required><br><br><br>

        <input type="email" placeholder="Your Email" required><br><br><br>
    

        <textarea placeholder="Your Message" rows="5"></textarea><br><br><br>

        <button type="submit">Send Message</button>
    </form>
</div>
</body>
</html>